<!-- Header -->
<div id="header">
  <div class="color-line"></div>
  <div id="logo" class="light-version"><span> API网关管理系统 </span></div>
  <nav role="navigation">
    <div class="small-logo"><span class="text-primary">HOMER APP</span></div>

    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse"
              data-target="#mobile-collapse"><i class="fa fa-chevron-down"></i></button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li><a>Login</a></li>
          <li><a>Logout</a></li>
          <li><a>Profile</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li class="dropdown"><a routerLink="/"> <i class="pe-7s-upload pe-rotate-90"></i> </a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="content">
  <div class="col-lg-12 text-center m-t-md"><h2> 中国移动网络能力开放平台---API网关管理系统 </h2>
    <p> 具备性能监控功能，提供简单易用的界面对API的生命周期、性能指标、健康状况、API的上下线、流量控制等功能进行管理；提供可插拔的API接入方式，新业务的上线不需要重新部署整个系统；提供图形化的界面进行API的组合编排能力；提供能力的路由功能，能够灵活配置路由策略。</p></div>
  <div class="row">
    <div class="col-lg-2">
      <a routerLink="/main/1/atomAPI">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">API管理</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>

    <div class="col-lg-2">
      <a href="https://www.baidu.com" target="_blank">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">动态API组合编排</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>

    <div class="col-lg-2">
      <a routerLink="/main/1/performanceMonitoringAll">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">性能监控&amp;流控</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>

    <div class="col-lg-2">
      <a routerLink="/main/1/healthCheckup">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">健康检查</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>

    <div class="col-lg-2">
      <a routerLink="/main/1/routeManagement">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">动态路由管理</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>

    <div class="col-lg-2">
      <a href="https://www.baidu.com" target="_blank">
        <div class="hpanel">
          <div class="panel-body text-center h-200">
            <h1 class="m-xs">水平扩展</h1>
            <h3 class="font-extra-bold no-margins text-success"> Title </h3>
            <small>This is sub title area,you can write anything...</small>
          </div>
          <div class="panel-footer"> This is standard panel footer</div>
        </div>
      </a>

    </div>


  </div>


  <!--<div class="row">
    <div class="col-md-6">
      <canvas baseChart class="chart"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColours"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px;">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">CLICK</button>
    </div>
  </div>-->


</div> <!-- Right sidebar -->

