<button (click)="goBack()" class="btn btn-default btn-sm">返回</button>
<br/>
<br/>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <!-- <li role="presentation" class="active">
        <a href="#mapping" aria-controls="mapping" role="tab" data-toggle="tab">动态路由映射表</a>
    </li> -->
    <li role="presentation" class="active">
        <a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">路由分发规则</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- <div role="tabpanel" class="tab-pane active" id="mapping">
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;用户请求URL</th>
                    <th>
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;实际访问URL</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let route of route_page">
                    <td>{{route.user}}</td>
                    <td>
                        <textarea class="form-control" rows="1" disabled="disabled">{{route.service}}</textarea>
                    </td>
                    <td>
                        <a class="blue" (click)="modify($event)">修改</a>&nbsp;
                        <a class="blue" (click)="yes($event,route)">确认</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <page [(pagination)]="pagination"> </page>
    </div> -->

    <div role="tabpanel" class="tab-pane active" id="roles">
        <div class="note">
            一级网络能力开放平台支持根据分发策略进行原子API分发功能，将原子API分发到对应的二级网络能力开放平台，具体分发策略如下两表所示：<br/>
            （表1是不同类别的原子API的路由分发规则，表2为全国所有归属省二级网络能力开放平台的代号对照表。）
        </div>
        <div class="col-sm-8">
            <div style="text-align:center">表1</div>
        </div>
        <div class="col-sm-4">
            <div style="text-align:center">表2</div>
        </div>
        <div class="col-sm-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>API类别</th>
                        <th>路由分发规则</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>呼叫控制类</td>
                        <td>
                            按照用户号码分发到归属省二级网络能力开放平台
                        </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>号码翻译类</td>
                        <td>
                            按照要被翻译的用户号码分发到归属省二级网络能力开放平台
                        </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>外呼类</td>
                        <td>
                            外呼一方按照被叫方号码分发到归属省二级网络能力开放平台；
                            <br/>外呼两方按照通话主叫方号码分发到归属省二级网络能力开放平台
                        </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>多方通话类</td>
                        <td>
                            多方通话发起按照发起方号码分发到归属省二级网络能力开放平台；
                            <br/>加入一方，退出一方，多方通话状态通知和结束多方通话按照已建立的会话路径进行转发
                        </td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>IVR类</td>
                        <td>
                            按照已建立的会话路径进行转发
                        </td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>消息类</td>
                        <td>
                            按照接收方号码分发到归属省二级网络能力开放平台
                        </td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>管道类</td>
                        <td>
                            下发QoS按照用户终端公网IP地址分发到归属省二级网络能力开放平台
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:94px;">代号</th>
                            <th>归属省二级网络能力开放平台</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="scroll">
                <table class="table table-bordered" id="data">
                    <tbody>
                        <tr *ngFor="let province of provinces">
                            <td style="width:94px;">{{province.code}}</td>
                            <td>{{province.province}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>