swagger: "2.0"
info:
  version: "0.0.1"
  x-appId: "00001"
  title: 中国移动北向开放API
  x-realhost: www.linyimin.club:20010
# during dev, should point to your local machine
host: www.linyimin.club:8000
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /subscriptions/callevents/notifications:
    # binds a127 app logic to a route
    x-ID: "0001"
    x-name: "呼叫事件订阅接口"
    get:
      description: 能力开放平台转发请求到音视频能力平台订阅呼叫事件信息
      deprecated: false
      tags:
        - "呼叫控制类"
      # used as the method name of the controller
      operationId: notifications
      parameters:
        - name: sepid
          in: query
          description: 二级网络能力开放平台标识，填写为二级网络能力开放平台主机名
          required: true
          type: string
        - name: API ID
          in: query
          description: 呼叫事件订阅 API 标识
          required: true
          type: string
        - name: callEvents
          in: query
          description: 应用支持的呼叫事件：Begin：呼叫开始(收到 IDP 或者 INVITE请求),Ringing：振铃(仅 IMS 网络有效，SIP180 临时响应),Answer：用户应答, Busy：被叫忙,Not Reachable ：被叫不可达,Route Failure ：路由失败,No Answer：无应答,Abandon：主叫取消,Release：呼叫结束，包括通话后用户挂机，由于某种原因呼叫正常结束,Exception：呼叫过程中发生异常如果不携带该参数则表示支持所有呼叫事件。
          required: false
          type: string[]
        - name: notificationMode
          in: query
          description: 通知模式：Notify:通知模式，Block:控制模式
          required: fasle
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /voice/notifyCallEvent:
    # binds a127 app logic to a route
    x-swagger-router-controller: ServiceController
    x-ID: "0002"
    x-name: "notifyCallEvent"
    get:
      description: 订阅通知接口
      deprecated: false
      tags:
        - "呼叫控制类"
      # used as the method name of the controller
      operationId: notifyCallEvent
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /callnotification/callcontrol:
    # binds a127 app logic to a route
    x-swagger-router-controller: ServiceController
    x-ID: "0003"
    x-name: "callcontrol"
    get:
      description: 呼叫控制
      deprecated: false
      tags:
        - "呼叫控制类"
      # used as the method name of the controller
      operationId: callcontrol
      parameters:
        - name: isAccept
          in: query
          description: 是否接通，true为成功，false为失败
          required: true
          type: boolean 
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /callconfig/NumberAdd:
    # binds a127 app logic to a route
    x-swagger-router-controller: NumberAdd
    x-ID: "0004"
    x-name: "NumberAdd"
    get:
      description: 号码添加前缀
      deprecated: false
      tags:
        - "号码改变类"
      # used as the method name of the controller
      operationId: NumberAdd
      parameters:
        - name: number
          in: query
          description: 需要添加前缀的手机号
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /oneapi/sms/SendMessage:
    # binds a127 app logic to a route
    x-swagger-router-controller: SendMessage
    x-ID: "0005"
    x-name: "SendMessage"
    get:
      description: 发送文本消息
      deprecated: false
      tags:
        - 消息类
      # used as the method name of the controller
      operationId: SendMessage
      parameters:
        - name: message
          in: query
          description: 发送的文本信息
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  ServiceResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
