swagger: "2.0"
info:
  version: "0.0.1"
  # 指定需要注册API服务的公司标号
  x-appId: "001"
  # 服务实际提供服务的域名地址
  x-realhost: www.linyimin.club:10010
  # 发布者名称
  x-publisher: 林贻民
  # 指定项目名称
  title: A simple API Gateway
   
# API网关向外提供访问服务的域名地址
host: www.linyimin.club:8000
# 所有API相同的前缀 
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /bookTo:
    # API对应的标识号
    x-ID: "001"
    # API的名称
    x-name: "airlineBookTo"
    get:
      description: 预订往航班机票
      deprecated: false
      tags:
        - "机票"
      parameters:
        - name: isBuy
          in: query
          description: 机票购买是否成功，true为成功，false为失败
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /refundTo:
    x-ID: "002"
    x-name: "airlinerRefundTo"
    get:
      description: 退订往航班机票
      deprecated: false
      tags:
        - "机票"
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /bookBack:
    x-ID: "003"
    x-name: "airlineBookBack"
    get:
      description: 预订返航班机票
      deprecated: false
      tags:
        - "机票"
      parameters:
        - name: isBuy
          in: query
          description: 机票购买是否成功，true为成功，false为失败
          required: true
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /getService:
    x-ID: "004"
    x-name: "getService"
    get:
      description: 获取某类型API信息
      deprecated: false
      tags:
        - "API管理"
      parameters:
        - name: tags
          in: query
          description: 指定API的类型,0为机票，1为全部
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /getServiceByID:
    x-ID: "005"
    x-name: "getServiceByID"
    get:
      description: 获取某类型API信息
      deprecated: false
      tags:
        - "API管理"
      parameters:
        - name: ID
          in: query
          description: API的ID
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ServiceResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
# complex objects have schema definitions
definitions:
  ServiceResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
