<button (click)="goBack()" class="btn btn-default btn-sm">返回</button>
<br/>
<strong>{{APIname}}-性能监控</strong>
<br/><br/>

<!-- 每个API对应的性能监控页面 -->
<!-- 流控配置放左边 -->

<ul id="myTab" class="nav nav-pills nav-justified">
  <li class="active">
    <a href="#allvisitnum" data-toggle="tab">总访问次数</a>
  </li>
  <li>
    <a href="#unitvisitnum" data-toggle="tab">单位时间访问次数</a>
  </li>
  <li>
    <a href="#concurrentnum" data-toggle="tab">并发量</a>
  </li>
  <li>
    <a href="#averagetime" data-toggle="tab">平均响应时间</a>
  </li>

</ul>
<!-- 总访问次数 -->
<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade in active" id="allvisitnum">
    <div class="row">
      <div class="btn-group buttongroup" role="group" aria-label="...">
        <button type="button" class="btn btn-default active">实时</button>
        <button type="button" class="btn btn-default">近24小时</button>
        <button type="button" class="btn btn-default">近七天</button>
      </div>
      <!-- <button type="button" class="btn btn-default datacompare">数据对比</button> -->
      <!-- 控制数据的显示 -->
      <button type="button" class="btn btn-default transformchart" (click)="changeType()">柱折转换</button>
      <!-- 控制数据柱状图与折线图的转换 -->
      <a class="btn btn-default downloaddata" role="button">
        <span class="glyphicon glyphicon-download" aria-hidden="true">下载数据</span>
      </a>
      <button type="button" class="btn btn-default logwatch" routerLink=logCheckup>日志查看</button>
      <!-- 点击跳到查看日志页面 -->
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showchart">
        <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showtable">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <!-- <button (click)="randomize()">update</button> -->
      </div>
    </div>
  </div>
  <!-- 单位时间访问次数 -->
  <div class="tab-pane fade" id="unitvisitnum">
    <div class="row">
      <div class="btn-group buttongroup" role="group" aria-label="...">
        <button type="button" class="btn btn-default active">实时</button>
        <button type="button" class="btn btn-default">近24小时</button>
        <!-- <button type="button" class="btn btn-default">近七天</button> -->
      </div>
      <!-- <button type="button" class="btn btn-default datacompare">数据对比</button> -->
      <!-- 控制数据的显示 -->
      <button type="button" class="btn btn-default transformchart" (click)="changeType()">柱折转换</button>
      <!-- 控制数据柱状图与折线图的转换 -->
      <a class="btn btn-default downloaddata" role="button">
        <span class="glyphicon glyphicon-download" aria-hidden="true">下载数据</span>
      </a>
      <button type="button" class="btn btn-default logwatch">日志查看</button>
      <!-- 点击跳到查看日志页面 -->
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showchart">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showtable">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of barChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of barChartData">
            <td *ngFor="let label of barChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <!-- <button (click)="randomise()">Update</button> -->
      </div>
    </div>
  </div>

  <!-- 并发量 -->
  <div class="tab-pane fade" id="concurrentnum">
    <div class="row">
      <div class="btn-group buttongroup" role="group" aria-label="...">
        <button type="button" class="btn btn-default active">实时</button>
        <button type="button" class="btn btn-default">近24小时</button>
        <button type="button" class="btn btn-default">近七天</button>
      </div>
      <!-- <button type="button" class="btn btn-default datacompare">数据对比</button> -->
      <!-- 控制数据的显示 -->
      <button type="button" class="btn btn-default transformchart" (click)="changeType()">柱折转换</button>
      <!-- 控制数据柱状图与折线图的转换 -->
      <a class="btn btn-default downloaddata" role="button">
        <span class="glyphicon glyphicon-download" aria-hidden="true">下载数据</span>
      </a>
      <button type="button" class="btn btn-default logwatch" routerLink=logCheckup>日志查看</button>
      <!-- 点击跳到查看日志页面 -->
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showchart">
        <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showtable">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <!-- <button (click)="randomize()">update</button> -->
      </div>
    </div>
  </div>
  <!-- 平均响应时间 -->
  <div class="tab-pane fade" id="averagetime">
    <div class="row">
      <div class="btn-group buttongroup" role="group" aria-label="...">
        <button type="button" class="btn btn-default active">实时</button>
        <button type="button" class="btn btn-default">近24小时</button>
        <!-- <button type="button" class="btn btn-default">近七天</button> -->
      </div>
      <!-- <button type="button" class="btn btn-default datacompare">数据对比</button> -->
      <!-- 控制数据的显示 -->
      <button type="button" class="btn btn-default transformchart" (click)="changeType()">柱折转换</button>
      <!-- 控制数据柱状图与折线图的转换 -->
      <a class="btn btn-default downloaddata" role="button">
        <span class="glyphicon glyphicon-download" aria-hidden="true">下载数据</span>
      </a>
      <button type="button" class="btn btn-default logwatch">日志查看</button>
      <!-- 点击跳到查看日志页面 -->
      <!-- <div class=" btn-group buttongroup" role="group">
                    <label>每</label>
                    <select>
                        <option value="second">秒</option>
                        <option value="minute">分</option>
                        <option value="hour">时</option>
                        <option value="day">天</option>
                        <option value="week">周</option>
                      </select>
                     <label>可访问</label>
                    <input type="text"placeholder="请输入限制次数"> <label>次</label> 
                  </div>  -->
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showchart">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 showtable">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of barChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of barChartData">
            <td *ngFor="let label of barChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <!-- <button (click)="randomise()">Update</button> -->
      </div>
    </div>
  </div>
  <br/>
  <strong>{{APIname}}-流量控制</strong>
  <hr />
  <!-- <div class="btn-group flowcontrol0" role="group">
                    <label>地域</label>
                    <select>
                        <option value="">请选择</option>
                        <option value="beijing">北京</option>
                        <option value="shanghai">上海</option>
                        <option value="shandong">山东</option>
                        <option value="jiangsu">江苏</option>
                        <option value="anhui">安徽</option>
                      </select>
                </div>  -->
  <!-- <div class=" btn-group flowcontrol0" role="group">
    <label>描述</label>
    <input type="text" placeholder="请输入描述">
  </div>
  <div class=" btn-group flowcontrol" role="group">
    <label>每</label>
    <select>
      <option value="second">秒</option>
      <option value="minute">分</option>
      <option value="hour">时</option>
      <option value="day">天</option>
      <option value="week">周</option>
    </select>
    <label>可访问</label>
    <input type="text" placeholder="请输入限制次数">
    <label>次</label>
  </div>
  <div class=" btn-group flowconfirm" role="group">
    <a class="btn  btn-info" role="button">
      <span class="glyphicon glyphicon-ok" aria-hidden="true">添加</span>
    </a>
  </div> -->
  <div class="table table-striped  table-responsive flowcontroltable">
      <ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
  </div>

    <!--<table class="table table-striped  table-responsive flowcontroltable">
    <thead>
      <tr>
        <th>名称</th>
        <th>单位</th>
        <th>API流量限制</th>
        <th>创建时间</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>001</td>
        <td>秒</td>
        <td>500</td>
        <td>2018-4-15 14:35:23</td>
        <td></td>
        <td>
          <a class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true">删除</span>
          </a>
          <a class="btn  btn-info" role="button">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">修改</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>002</td>
        <td>分</td>
        <td>5000000</td>
        <td>2018-4-15 14:35:23</td>
        <td></td>
        <td>
          <a class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true">删除</span>
          </a>
          <a class="btn  btn-info" role="button">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">修改</span>
          </a>
        </td>
      </tr> 
    </tbody>
  </table>-->
</div>