<!DOCTYPE html>
<html lang="en">
<body>
    <script type="text/javascript" src="http://www.linyimin.club:8001/static/jquery-3.2.1.min.js"></script>
      <form id = "uploadForm">
        <div class="field required">
          <label>项目logo</label>
          <br/>
          <input type="file" name="avatar" multiple>
        </div>
        <input type="button" value="上传" onclick="doUpload()" />  
      </form>

      <script type="text/javascript">
        function doUpload() {  
          var formData = new FormData($( "#uploadForm" )[0]);  
          $.ajax({  
                url: 'http://www.linyimin.club:8001/apis/uploads' ,  
                type: 'POST',  
                data: formData,  
                async: false,  
                cache: false,  
                contentType: false,  
                processData: false,  
                success: function (returndata) {  
                    alert(returndata.result);  
                },  
                error: function (returndata) {  
                    alert(returndata);  
                }  
      });  
}  
    </script>
      </body>   
</html>>
  