.buttongroup{
    margin-top:20px;
    margin-left:15px;
}
.datacompare,.downloaddata,.logwatch,.transformchart{
    margin-top:20px;
}
.showchart{
    margin-top:30px;
}
.showtable{
    margin-top: 50px;
}
