<!doctype html>
<html ng-app="login">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap-3.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="stylesheet" href="css/ngDialog.css">
    <link rel="stylesheet" href="css/ngDialog-theme-default.css">

    <script src="js/projectJs/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/projectJs/bootstrap.js"></script>
    <script src="js/angular-1.3.0.js"></script>
    <!--<script src="../js/angular-animate.js"></script>-->
    <script src="js/ngDialog.js"></script>
    <script src="js/ionic.bundle.min.js"></script>
    <script src="controlller.js"></script>
    <script src="app.js"></script>


    <style>
        p {
            text-indent: 1cm;
            text-align: left;
            text-align: justify;
        }

        h5 {
            padding-bottom: 15px;
        }
        .jumbotron{

            width: 1200px;
            margin-left: 120px;
        }
        #button{
            float: right;
            margin-right: 70px;
            margin-top: 20px;
        }
        #login{
            margin-right: 60px;
        }
    </style>

</head>
<body style="background-color: #EEEEEE">
<div id="button" ng-controller="loginCtrl">
    <button class="btn-floating btn-large waves-effect waves-light right" ng-click="regist()">注册</button>
    <button id="login" class="btn-floating btn-large waves-effect waves-light right" ng-click="login()">登陆</button>
</div>
<div class="jumbotron text-center">
    <h3 class="header center-align" style="font-family: cursive;">PCN & CAD API Gateway</h3>
    <p class="flow-text center-align" style="font-size: 26px;color: #9e9e9e">
        API Gateway ，一个出现在企业级IT系统边界上的面向API、串行集中式的强管控服务。
    </p>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <h5>动态路由</h5>
            <p>
                服务路由功能为服务和用户之间交互提供路由机制，当收到服务请求消息，通过解析目的服务信息分析服务请求，分发消息到最终目的地。
                并在流量监测的基础之上，得到用户访问情况。
            </p>
            <p>
                API Gateway 可以让您与您的API进行交互，来创建或编辑<a href="tpls3/project.html"><strong>APIs</strong></a>。
            </p>
        </div>
        <div class="col-lg-4 col-sm-4">
            <h5>服务监控</h5>
            <p>
                服务监控包括健康检查、性能监控。
            </p>
            <p>
                健康检查主要包括监控用户访问的频繁程度。
            </p>
            <p>
                性能监控是对开放平台的性能状态进行实时监控。
            </p>
            <p>
                如何查看<a href="tpls3/AbilityWatch.html">健康检查</a>页面？
            </p>
        </div>
        <div class="col-lg-4 col-sm-4">
            <h5>水平拓展</h5>
            <p>API网关的实际应用场景下存在高并发的场景，因此平台不仅实现开放能力平台的业务功能，还保证系统的高并发、高可用和高可靠。</p>
            <p>API网关集群采用了负载均衡，缓存机制，消息队列，池化技术来保证系统高并发情境下的性能。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <a href="#" class="btn right">list API</a>
        </div>
        <div class="col-lg-4 col-sm-4">
            <a href="tpls3/AbilityWatch.html" target="_blank" class="btn right">check-up</a>
        </div>
    </div>
</div>

</body>

</html>
