<script src="./js/open.js"></script>
<style>
    .apiname table,
    tr,
    td {
        border: 1px solid #ddd;
        /* border-radius: 100px; */
        padding: 8px;
        line-height: 1.42857143;
        text-align: center;
    }

    .apiname th {
        background-color: #666666;
        padding: 8px;
        line-height: 1.42857143;
        text-align: center;
        color: white;
        border: 1px solid white;
    }

    .apiname tr {
        border-left: none;
    }

    .apiname tr:hover {
        background-color: #f3f1f1;
    }

    .apiname .tab {
        width: 100%;
    }

    h4 {
        margin-top: -10px;
        margin-bottom: -50px;
    }

    .detail {
        margin-top: 40px;
    }

    .detail th {
        width: 100%;
        margin-top: 40px;
        padding: 8px;
        line-height: 1.42857143;
        text-align: left;
        ;
        font-size: 20px;
        border: none;
    }

    .detail tr {
        border-left: none;
        border-right: none;
    }

    #select,
    #found,
    #search,
    #area,
    #creatAPI,
    #creatAPIByJson {
        /* display: block;
        width: 100%; */
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .btn {
        background-color: #00c1de !important;
        color: #fff !important;
        float: left;
        margin-top: 3px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
    }

    .basic td {
        border: none;
    }

    .basic tr {
        border: none;
    }

    .basic th {
        text-align: center;
    }

    .panel-title {
        font-size: 16px;
        color: #00c1df;
    }

    /* .panel-title>a:hover {
        color: #9fd3db;
    }
    .panel-title>a:active {
        color: #9fd3db;
    } */

    .console-mr2 {
        color: rgb(86, 154, 221);
    }

    .console-form-header {
        float: left;
        padding: 5px 0;
        text-align: right;
        width: 35%;
        padding: 9px 15px;
    }

    .console-form-row {
        display: block;
        padding: 10px 0;
    }

    .console-textbox {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        padding: 6px;
        transition: none;
        font-size: 12px;
        line-height: 145%;
        outline: none;
        border: 1px solid #CCC;
        background: #FFF;
        color: #555;
        width: 40%;
        border-radius: 4px;
    }

    .console-width-4 {
        width: 33.33333333% !important;
    }

    .console-form-body {
        float: none;
        padding: 0 15px;
    }

    .console-radio,
    .console-checkbox {
        display: inline-block;
        vertical-align: middle;
        line-height: 28px;
    }

    .console-textarea {
        display: inline-block;
        vertical-align: middle;
        padding: 6px;
        font-size: 12px;
        line-height: 145%;
        outline: none;
        border: 1px solid #CCC;
        background: #FFF;
        color: #555;
    }

    .console-with-6 {
        width: 50% !important;
    }

    .console-mr {
        color: #00c1de;
    }

    .defined {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        color: black;
    }

    hr {
        background-color: #bbb8b8;
        border-top: 1px solid #bbb8b8;
    }

    #cancel,
    #save {
        background-color: #00c1de !important;
        color: #fff !important;
        border-radius: 15%;
    }

    .modal-footer {
        text-align: center;
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 850px;
            margin: 30px auto;
        }
    }

    #addParams,
    #addError {
        background-color: #00c1de;
        border: none;
    }
</style>
<div class="contaier">
    <div class="row">
        <div class="col-md-12">
            <p>原子API管理</p>
            <hr>
        </div>
        <!-- <div class="col-md-2" style="float: right;">
            <div class="form-group">
                <a data-toggle="modal" data-target="#byJsonModal" id="creatAPIByJson" class="btn">以json文件批量创建</a>
            </div>
        </div> -->
        <!-- 上传json文件的弹窗 -->
        <!-- <div class="modal fade" id="byJsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">上传Json文件</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">上传</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- 上传Swagger文件 -->
        <div class="col-md-2" style="float: right;">
            <div class="form-group">
                <a data-toggle="modal" data-target="#bySwaggerModal" id="creatAPIBySwagger" class="btn">上传Yaml文件</a>
            </div>
        </div>
        <!-- 上传Swagger文件的弹窗 -->
        <div class="modal fade" id="bySwaggerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">上传Swagger文件</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="file-1" type="file" multiple class="file" (change)="uploadFile($event)" data-overwrite-initial="false" data-min-file-count="1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" (click)="submitUploadFile()">上传</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="float: right;">
            <div class="form-group">
                <a routerLink=createAtomAPI id="creatAPI" class="btn">创建原子API</a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6" style="margin-top:-30px">
            <div class="table-responsive">
                <div class="col-md-4" style="margin-bottom: 14px">
                    <div class="form-group">
                        <input id="found" class="from-control" placeholder="请填写查找的API名字" type="text" [ngModel]="search.name" #ApiName>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select id="select" class="from-control" [ngModel]="APITypedata" (ngModelChange)="APITypedata=$event;setAPIType()">
                            <option value="">请点击选择</option>
                            <option *ngFor="let APIType of APITypedatas" [value]='APIType'>{{APIType}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select id="area" class="from-control" [ngModel]="Areadata" (ngModelChange)="Areadata=$event;setArea()">
                            <option value="">请选择</option>
                            <option *ngFor="let area of Areadatas" [value]='area'>{{area}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <!-- 查看应用这个原子API的组合API都有哪些，在下面列出来 -->
                        <button id="search" class="btn-default" (click)="search(ApiName.value)">search</button>
                    </div>
                </div>
                <div class="apiname">
                    <table class="tab">
                        <tr class="table-title">
                            <th style="width: 8%">api列表</th>
                            <th style="width: 12%">请求方法</th>
                            <th style="width: 8%">状态</th>
                            <th style="width: 12%">操作</th>
                        </tr>
                        <tr *ngFor="let api of api_page" [class.selected]="api === selectedApi" (click)="onSelect(api)" id="{{api.id}}">
                            <td>
                                <a class="console-mr">{{api.name}}</a>
                            </td>
                            <td>{{api.method}}</td>
                            <td>
                                {{api.status}}
                            </td>
                            <td>
                                <!-- 跳转elk页面 -->
                                <a href="http://36.155.126.15:45601/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:apiName,key:apiName,negate:!f,params:(query:{{api.name}},type:phrase),type:phrase,value:{{api.name}}),query:(match:(apiName:(query:{{api.name}},type:phrase))))),index:apiName,interval:auto,query:(language:lucene,query:''),sort:!(_score,desc))"
                                    class="console-mr2" target="_blank">日志</a>
                                <span class="text-explode">|</span>
                                <!-- 跳转swagger页面带name参数 -->
                                <a href="http://10.108.210.102:30000/dist?name={{api.name}}" target="_blank" class="console-mr2">测试</a>
                                <span class="text-explode">|</span>
                                <a href="http://36.155.126.15:45601/app/kibana#/dashboard/01722d30-9b7c-11e8-b157-378b49c30284?_g=()&_a=(description:'',filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:apiName,key:apiName,negate:!f,params:(query:{{api.name}},type:phrase),type:phrase,value:{{api.name}}),query:(match:(apiName:(query:{{api.name}},type:phrase))))))"
                                    target="_blank" class="console-mr2">性能</a>
                                <br>
                                <a *ngIf="api.status=='已发布'" class="console-mr2" data-toggle="modal" data-target="#myModaloff" [class.selected]="api === offapi"
                                    (click)="off(api)">下线</a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModaloff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel1">API下线</h4>
                                            </div>
                                            <div class="modal-body">
                                                你确定要下线此<strong>API</strong>吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                                                <button type="button" class="btn btn-primary" (click)="offYes()" data-dismiss="modal">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span *ngIf="api.status=='已发布'" class="text-explode">|</span>

                                <a class="console-mr2" data-toggle="modal" data-target="#deleteModal" (click)="delete(api)">删除</a>
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">删除API</h4>
                                            </div>
                                            <div class="modal-body">
                                                你确定要删除此API吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                                                <button type="button" class="btn btn-primary" (click)="deleteYes()">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <span class="text-explode">|</span>
                                <a *ngIf="api.status=='已创建'" data-toggle="modal" data-target="#publishModal" class="console-mr2" (click)='publishMsg(api)'>发布</a>
                                <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">发布API</h4>
                                            </div>
                                            <div class="modal-body">
                                                你确定要发布此<strong>API</strong>吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                                                <button type="button" class="btn btn-primary" (click)="publish()" data-dismiss="modal">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span *ngIf="api.status=='已创建'" class="text-explode">|</span>
                                <a class="console-mr2" (click)='modify(api)'>修改</a>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- 分页 -->
            <page [(pagination)]="pagination"> </page>
        </div>


        <div class="col-md-6" style="border-left:1px #bbb8b8 solid;margin-top:30px">
            <div style="margin-left:30px">
                <div *ngIf="selectedApi">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        基本属性
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <table class="tab" class="basic">
                                        <tr class="table-title">
                                            <th style="width: 8%">api名称</th>
                                            <th style="width: 10%">类型</th>
                                            <th style="width: 10%">服务地址</th>
                                            <th style="width: 10%">api地区</th>
                                        </tr>
                                        <tr>
                                            <td>{{selectedApi.name}}</td>
                                            <td>{{selectedApi.APIType}}</td>
                                            <td>{{selectedApi.address}}</td>
                                            <td>{{selectedApi.area}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="accordion1" role="tablist" aria-multiselectable="false" style="margin-top:5px">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="true"
                                            aria-controls="collapseTwo">
                                            参数信息
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="defined">基础定义</div>
                                        <table class="tab" class="basic">
                                            <tr class="table-title">
                                                <!-- <th style="width: 8%">服务地址</th> -->
                                                <th style="width: 12%">请求方法</th>
                                                <th style="width: 10%">请求路径</th>
                                                <th style="width: 10%">请求端口号</th>
                                            </tr>
                                            <tr>
                                                <td>{{selectedApi.method}}</td>
                                                <td>{{selectedApi.path}}</td>
                                                <td>{{selectedApi.port}}</td>
                                            </tr>
                                        </table>
                                        <hr>
                                        <div class="defined">参数信息</div>
                                        <table class="tab" class="basic" id="yamlAPI">
                                            <tr class="table-title">
                                                <th style="width: 8%">参数名</th>
                                                <th style="width: 12%">参数类型</th>
                                                <th style="width: 10%">必填</th>
                                                <th style="width: 10%">参数描述</th>
                                            </tr>
                                            <tr *ngFor="let params of yamlAPI">
                                                <td>{{params.paramsName}}</td>
                                                <td>{{params.paramsType}}</td>
                                                <td>
                                                    <i *ngIf="params.checkBox==true" class="glyphicon glyphicon-ok"></i>
                                                    <i *ngIf="params.checkBox==false" class="glyphicon glyphicon-remove"></i>
                                                </td>
                                                <td>{{params.paramsDes}}</td>
                                            </tr>
                                            <!-- <tr *ngFor="let argument of yamlAPI">
                                                <td>{{index}}</td>
                                                <td>{{argument[index]}}</td>
                                                <td>
                                                    <i *ngIf="params.checkBox==true" class="glyphicon glyphicon-ok"></i>
                                                    <i *ngIf="params.checkBox==false" class="glyphicon glyphicon-remove"></i>
                                                </td>
                                                <td>{{params.paramsDes}}</td>
                                            </tr> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordion3" role="tablist" aria-multiselectable="false" style="margin-top:5px">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            错误码解释
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <table class="tab" class="basic">
                                            <tr class="table-title">
                                                <th style="width: 8%">错误码</th>
                                                <th style="width: 8%">错误信息</th>
                                                <th style="width: 12%">错误描述</th>
                                            </tr>
                                            <tr *ngFor="let error of selectedApi.errorCode">
                                                <td>{{error.errorCodeId}}</td>
                                                <td>{{error.errorMessageId}}</td>
                                                <td>{{error.errorDesId}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="accordion4" role="tablist" aria-multiselectable="false" style="margin-top:5px">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            AP测试工具
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <li [ngClass]="{active:router.active}">
                                            <a href="http://www.baidu.com" target="_blank" class="btn">
                                                <span class="nav-label">API测试工具</span>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-childen [data]="data"></app-childen> -->