<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑API</title>
    <style>
        .jumbotron{
            height: 500px;
        }
        .ngdialog-content{
            width: 800px !important;
            height: 600px !important;
        }
        h3{
            margin-left: 20px !important;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h3 class="header">Edit API</h3>

    <div class="row">
        <div class="col s5">
            <div class="card-panel teal">
                <p class="white-text">
                    API对象描述了API Gateway公开的API。
                </p>

                <p class="white-text">
                    然后，API Gateway需要知道代理请求API的最终目标URL是什么。
                </p>
            </div>
        </div>
        <form class="col s7">
            <div>
                <div class="from-group">
                    <label for="name">API名称</label>
                    <input type="text" id="name" ng-model="name">
                </div>
                <!--<div class="input-field col s12">-->
                    <!--<input id="hosts" ng-model="data.hosts" type="text" class="validate">-->
                    <!--<label for="hosts" ng-bind="data.hosts">主机</label>-->
                <!--</div>-->
                <div class="from-group">
                    <label for="oldurl">Old URL</label>
                    <input type="text" id="oldurl" ng-model="URL">
                </div>
                <div class="from-group">
                    <label for="newurl">New URL</label>
                    <input type="text" id="newurl" ng-model="URL">
                </div>
            </div>
                <!--<div class="input-field col s12">-->
                    <!--<input id="methods"  ng-model="data.methods" type="text" class="validate">-->
                    <!--<label for="methods" ng-class="data.type">方法</label>-->
                    <!--<app-field-error error="error.methods"></app-field-error>-->
                <!--</div>-->
                <!--<div class="input-field col s12">-->
                    <!--<input id="upstream_url"  ng-model="data.upstream_url" type="text" class="validate" ng-class="{invalid: error.upstream_url}">-->
                    <!--<label for="upstream_url" ng-class="{active:data.upstream_url}">网址 url</label>-->
                    <!--<app-field-error error="error.upstream_url"></app-field-error>-->
                <!--</div>-->

                <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn right" ng-click="save(appId)">
                        save
                    </button>
                </div>
            <input type="hidden" ng-model="appId" value="{{datas.ID}}" />
        </form>
    </div>
</div>
</body>
</html>